{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h3 class="mr-2 h4">Project: {{ project.pnumber }}</h3>
        <h4 class="mr- h4">{{ project.pname }}</h4>  <br/>
        <small class="text-muted h5">Employees</small> <br/>
        <table class="table">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
          </tr>
        {% for row in results %}
          <tr>
            <th>{{ row.fname }}</th>
            <th>{{ row.lname }}</th> 
          </tr>
        {% endfor %}
       </table>
      </div>
    </div>
</article>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.employee.label(class="form-control-label") }}
                {% if form.employee.errors %}
                    {{ form.employee(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.employee.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.employee(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.hours.label(class="form-control-label") }}
                {% if form.hours.errors %}
                    {{ form.hours(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.hours.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hours(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}