{% extends "layout.html" %}
{% block content %}
  {% for project in projects %}
    <div class="content-section">
      <div class="article-metadata">
        <a class="mr-2 h4" href="{{ url_for('project', pnumber=project) }}">Project {{project}} </a> <br/>
        <small class="text-muted h5">Employees</small>
        <table class="table">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
          </tr>
          {% for person in projects[project] %}
            <tr>
              <th>{{ person[0] }}</th>
              <th>{{ person[1] }}</th> 
            </tr>
          {% endfor %}
        </table>
        <div> <br/>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('add_employee', pnumber=project) }}">Add Employees</a>
          <a class="btn btn-secondary btn-sm btn-danger mt-1 mb-1" href="{{ url_for('remove_employee', pnumber=project) }}">Remove Employees</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}